{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{if eq .Auth 2}}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="">
                      {{if .IsSearch}}
                      <a href="/workorder/my/list" class="btn btn-white pull-right"> 返回列表 </a>
                      {{else}}
                      <form id="search_form" method="get" action="/workorder/my/search" class="form-inline pull-right">
                          <input name="auth" type="hidden" value="2"></input>
                          <div class="input-group">
                              <select name="apptype" class="form-control">
                                  {{range .AppTypeList}}
                                  <option value="{{.}}">{{.}}</option>
                                  {{end}}
                              </select>
                          </div>
                          <div class="form-group">                            
                            <select name="appname" class="form-control">
                                {{range .AppNameList}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                          </div>                             
                          <div class="input-group">
                              <div class="input-group-btn">
                                  <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                      -搜索-
                                  </button>
                              </div>
                          </div>
                      </form>
                      {{end}}
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">时间</th>
                                <th class="text-center">应用名称</th>
                                <th class="text-center">迭代版本</th>
                                <th class="text-center">业务类型</th>                         
                                <th class="text-center">发布类型</th>
                                <th class="text-center">发起人</th>
                                <th class="text-center">请求次数</th>
                                <th class="text-center">测试</th>
                                <th class="text-center">产品</th>
                                <th class="text-center">运维</th>
                                <th class="text-center">验证</th>
                                <th class="text-center">工单状态</th>
                                <th class="text-center">DB状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{$Dept := .Dept}}
                            {{$Auth := .Auth}}
                            {{range .AppWorkOrders}}
                            <tr class="gradeX">
                                <td class="text-center">{{.Created}}</td>
                                <td class="text-center">{{.Appname}}</td>
                                <td class="text-center">{{.Version}}</td>
                                <td class="text-center">{{.Apptype}}</td>
                                <td class="text-center">{{.Upgradetype}}</td>
                                <td class="text-center">{{.Sponsor}}</td>
                                <td class="text-center">{{.RequestCount}}</td>
                                <td class="text-center">{{if eq (.Tester|len) 0}}无{{else}}{{.Tester}}{{end}}</td>
                                <td class="text-center">{{if eq (.Approver|len) 0}}无{{else}}{{.Approver}}{{end}}</td>
                                <td class="text-center">{{if eq (.Operater|len) 0}}无{{else}}{{.Operater}}{{end}}</td>
                                <td class="text-center">{{if eq (.Finalchker|len) 0}}无{{else}}{{.Finalchker}}{{end}}</td>
                                <td class="text-center" >
                                    <a href="#" {{if eq .Status "测试流程中"}} class="btn btn-xs btn-success"{{else if eq .Status "审批流程中"}} class="btn btn-xs btn-warning"{{else if eq .Status "实施流程中"}} class="btn btn-xs btn-primary"{{else if eq .Status "验证流程中"}} class="btn btn-xs btn-info"{{else if eq .Status "工单已关闭"}} class="btn btn-xs btn-default"{{else if eq .Status "异常已回滚"}} class="btn btn-xs btn-danger"{{end}}>{{.Status}}</a>
                                </td>
                                <td class="text-center">
                                <a href="#" {{if eq .DbStatus "实施完毕"}} class="btn btn-xs btn-success"{{else if eq .DbStatus "正在实施"}}class="btn btn-xs btn-info"{{else if eq .DbStatus "无DB变更"}}class="btn btn-xs btn-primary"{{else if eq .DbStatus "异常回滚"}}class="btn btn-xs btn-danger"{{end}}>{{.DbStatus}}</a>
                                </td>
                                <td class="text-center">
                                    <a href="/workorder/approveDetail?id={{.Id}}" class="btn btn-xs btn-primary" >详情</a>
                                    <a href="/workorder/dbInApp?id={{.Id}}&sqlfile={{.Sqlfile}}" class="btn btn-xs btn-info" >审批</a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Total {{.totals}} entries
                            </div>
                        </div>
                        {{template "paginator" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="">
                      <a href="/workorder/my/export?method=month" class="btn btn-sm btn-primary "> 本月导出 </a>
                      <a href="/workorder/my/export?method=all" class="btn btn-sm btn-info "> 全量导出 </a>
                      {{if .IsSearch}}
                      <a href="/workorder/my/list" class="btn btn-white pull-right"> 返回列表 </a>
                      {{else}}
                      <form id="search_form" method="get" action="/workorder/my/search" class="form-inline pull-right">
                          <div class="input-group">
                              <select name="apptype" class="form-control">
                                  {{range .AppTypeList}}
                                  <option value="{{.}}">{{.}}</option>
                                  {{end}}
                              </select>
                          </div>
                          <div class="form-group">                            
                            <select name="appname" class="form-control">
                                {{range .AppNameList}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                          </div>                             
                          <div class="input-group">
                              <div class="input-group-btn">
                                  <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                      -搜索-
                                  </button>
                              </div>
                          </div>
                      </form>
                      {{end}}
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">时间</th>
                                <th class="text-center">应用名称</th>
                                <th class="text-center">迭代版本</th>
                                <th class="text-center">业务类型</th>                         
                                <th class="text-center">发布类型</th>
                                <th class="text-center">发起人</th>
                                <th class="text-center">请求次数</th>
                                <th class="text-center">测试</th>
                                <th class="text-center">产品</th>
                                <th class="text-center">运维</th>
                                <th class="text-center">验证</th>
                                <th class="text-center">工单状态</th>
                                <th class="text-center">DB状态</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{$Dept := .Dept}}
                            {{$Auth := .Auth}}
                            {{range .AppWorkOrders}}
                            <tr class="gradeX">
                                <td class="text-center">{{.Created}}</td>
                                <td class="text-center">{{.Appname}}</td>
                                <td class="text-center">{{.Version}}</td>
                                <td class="text-center">{{.Apptype}}</td>
                                <td class="text-center">{{.Upgradetype}}</td>
                                <td class="text-center">{{.Sponsor}}</td>
                                <td class="text-center">{{.RequestCount}}</td>
                                <td class="text-center">{{if eq (.Tester|len) 0}}无{{else}}{{.Tester}}{{end}}</td>
                                <td class="text-center">{{if eq (.Approver|len) 0}}无{{else}}{{.Approver}}{{end}}</td>
                                <td class="text-center">{{if eq (.Operater|len) 0}}无{{else}}{{.Operater}}{{end}}</td>
                                <td class="text-center">{{if eq (.Finalchker|len) 0}}无{{else}}{{.Finalchker}}{{end}}</td>
                                <td class="text-center" >
                                    <a href="#" {{if eq .Status "测试流程中"}} class="btn btn-xs btn-success"{{else if eq .Status "审批流程中"}} class="btn btn-xs btn-warning"{{else if eq .Status "实施流程中"}} class="btn btn-xs btn-primary"{{else if eq .Status "验证流程中"}} class="btn btn-xs btn-info"{{else if eq .Status "工单已关闭"}} class="btn btn-xs btn-default"{{else if eq .Status "异常已回滚"}} class="btn btn-xs btn-danger"{{end}}>{{.Status}}</a>
                                </td>
                                <td class="text-center">
                                <a href="#" {{if eq .DbStatus "实施完毕"}} class="btn btn-xs btn-success"{{else if eq .DbStatus "正在实施"}}class="btn btn-xs btn-info"{{else if eq .DbStatus "无DB变更"}}class="btn btn-xs btn-primary"{{else if eq .DbStatus "异常回滚"}}class="btn btn-xs btn-danger"{{end}}>{{.DbStatus}}</a>
                                </td>
                                <td class="text-center">
                                    <a href="/workorder/approveDetail?id={{.Id}}" class="btn btn-xs btn-primary" >详情</a>
                                    {{if eq $Dept "研发"}} 
                                    <a href="/workorder/approve/modify?id={{.Id}}" class="btn btn-xs btn-warning" {{if eq .Isedit "false"}}disabled="disabled"{{end}}>编辑</a>
                                    {{end}}
                                    {{if eq $Dept "运维"}} 
                                    <a href="/workorder/approve/modify?id={{.Id}}" class="btn btn-xs btn-danger" {{if eq .Isedit "false"}}disabled="disabled"{{end}}>编辑</a>
                                    {{end}}
                                    {{if eq $Dept "测试"}}
                                    <a href="/workorder/approve?id={{.Id}}" class="btn btn-xs btn-info" {{if eq .Isapproved "false"}}disabled="disabled"{{end}}>审批</a>
                                    <a href="/workorder/rollback?id={{.Id}}" class="btn btn-xs btn-danger" {{if eq .Isapproved "false"}}disabled="disabled"{{end}}>回滚</a>
                                    {{end}}
                                    {{if eq $Dept "产品"}}
                                    <a href="/workorder/approve?id={{.Id}}" class="btn btn-xs btn-info" {{if eq .Isapproved "false"}}disabled="disabled"{{end}}>审批</a>
                                    <a href="/workorder/rollback?id={{.Id}}" class="btn btn-xs btn-danger" {{if eq .Isapproved "false"}}disabled="disabled"{{end}}>回滚</a>
                                    {{end}}
                                    {{if eq $Dept "运维"}}
                                    <a href="/workorder/approve?id={{.Id}}" class="btn btn-xs btn-info" {{if eq .Isapproved "false"}}disabled="disabled"{{end}}>实施</a>
                                    <a href="/workorder/rollback?id={{.Id}}" class="btn btn-xs btn-danger" {{if eq .Isapproved "false"}}disabled="disabled"{{end}}>回滚</a>
                                    {{end}}
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Total {{.totals}} entries
                            </div>
                        </div>
                        {{template "paginator" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
<script src="/static/js/jquery.shiftcheckbox.js"></script>

{{template "page_buttom"}}