{{template "page_top" .}} 
{{template "nav_cat_bar" .}} 
{{with .Dailyreport}}
<div class="ibox-content">
    <form method="post" id="userForm" class="form-horizontal" action="" enctype="multipart/form-data">
        <div class="form-group">
            <label for="appsys" class="col-sm-2 control-label">所属系统</label>
            <div class="col-sm-8">
                <input id="appsys" name="appsys" placeholder="" type="text" class="form-control" value="{{.Appsys}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="appname" class="col-sm-2 control-label">程序名称</label>
            <div class="col-sm-8">
                <input id="appname" name="appname" placeholder="" type="text" class="form-control" value="{{.Appname}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="appcontent" class="col-sm-2 control-label">发布内容</label>
            <div class="col-sm-8">
                <input id="appcontent" name="appcontent" placeholder="" type="text" class="form-control" value="{{.Appcontent}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="applicgrp" class="col-sm-2 control-label">申请部门</label>
            <div class="col-sm-8">
                <input id="applicgrp" name="applicgrp" placeholder="" type="text" class="form-control" value="{{.Applicgrp}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="applicant" class="col-sm-2 control-label">申请人</label>
            <div class="col-sm-8">
                <input id="applicant" name="applicant" placeholder="" type="text" class="form-control" value="{{.Applicant}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="publisher" class="col-sm-2 control-label">发布人</label>
            <div class="col-sm-8">
                <input id="publisher" name="publisher" placeholder="" type="text" class="form-control" value="{{.Publisher}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="department" class="col-sm-2 control-label">所属部门</label>
            <div class="col-sm-8">
                <input id="department" name="department" placeholder="" type="text" class="form-control" value="{{.Department}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="publishtime" class="col-sm-2 control-label">发布时间</label>
            <div class="col-sm-8">
                <input id="publishtime" name="publishtime" placeholder="" type="text" class="form-control" value="{{.Publishtime}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="followstatus" class="col-sm-2 control-label">发布后跟进情况</label>
            <div class="col-sm-8">
                <select name="followstatus" class="form-control" readonly>
                                        <option value="" selected>---空---</option>
                                        <option value="成功" {{if eq .Followstatus "成功"}}selected{{end}}>成功</option>
                                        <option value="失败" {{if eq .Followstatus "失败"}}selected{{end}}>失败</option>
                                    </select>
            </div>
        </div>
        <div class="form-group">
            <label for="followman" class="col-sm-2 control-label">跟进人</label>
            <div class="col-sm-8">
                <input id="followman" name="followman" placeholder="" type="text" class="form-control" value="{{.Followman}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="isinitial" class="col-sm-2 control-label">初次上线(是/否)</label>
            <div class="col-sm-8">
                <input id="isinitial" name="isinitial" placeholder="" type="text" class="form-control" value="{{.Isinitial}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button id="submit_button" class="btn btn-primary"><a href="/workorder/dailyreport/list">返回列表</a></button>
            </div>
        </div>
    </form>
    {{end}}
</div>
{{template "page_buttom" .}}