{{template "page_top" .}}
{{template "nav_cat_bar" .}}
<br>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" enctype="multipart/form-data" action="/db/record/add">
                            <div class="form-group">
                                <label for="schema" class="col-sm-2 control-label">Schem<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="schema" name="schema" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="object" class="col-sm-2 control-label">升级对象<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="object" class="form-control">
                                        <option value="记录">记录</option>
                                        <option value="表">表</option>
                                        <option value="库">库</option>
                                        <option value="实例">实例</option>
                                    </select>
                                </div>
                            </div>       
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="operation" class="col-sm-2 control-label">升级类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="operation" class="form-control">
                                        <option value="提取数据">提取数据</option>
                                        <option value="修改数据">修改数据</option>
                                        <option value="分拆扩容">分拆扩容</option>
                                        <option value="性能优化">性能优化</option>
                                        <option value="性能优化">增加新表</option>
                                        <option value="性能优化">表结构变更</option>
                                        <option value="性能优化">存储过程变更</option>
                                    </select>
                                </div>
                            </div>                              
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="backup" class="col-sm-2 control-label">是否备份<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="backup" class="form-control">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                            </div>      
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="content" class="col-sm-2 control-label">操作内容</label>
                                <div class="col-sm-8">
                                    <textarea name="content" class="form-control" rows="4"></textarea>
                                </div>
                            </div>                                                                                             
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">操作说明<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="attachment" class="col-sm-2 control-label">上传附件</label>
                                <div class="col-sm-8">
                                    <input type="file" class="form-control" name="attachment">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_username: [/^[\w.]{3,20}$/, '至少3位大小写字母数字和下划线小数点'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "schema": {
            rule: "required;check_username",
            tip: "输入Schema",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "object": {
            rule: "required;check_username",
            tip: "输入升级对象",
            ok: "",
            msg: {required: "必须填写!"}
        },    
        "operation": {
            rule: "required;check_username",
            tip: "输入升级类型",
            ok: "",
            msg: {required: "必须填写!"}
        },            
        "backup": {
            rule: "required;check_username",
            tip: "请选择是否备份",
            ok: "",
            msg: {required: "必须填写!"}
        },                       
        "comment": {
            rule: "required;length[7~15]",
            tip: "输入备注",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});
</script>
{{template "page_buttom" .}}



