{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{$Auth := .Auth}}
{{$Uname := .Uname}}
{{if and (eq .Auth 1) (eq .Uname "netop")}}
<br>
<div class="ibox-content">
    {{with .Dblist}}
    <form method="post" id="userForm" class="form-horizontal" action="/asset/dblist/modify?id={{.Id}}">
        <div class="form-group">
            <label for="ip" class="col-sm-2 control-label">IP<span class="red-fonts">*</span></label>
            <div class="col-sm-8">
                <input id="ip" name="ip" placeholder="" type="text" class="form-control"  value="{{.IP}}" >
            </div>
        </div>
        <div class="form-group">
            <label for="port" class="col-sm-2 control-label">Port<span class="red-fonts">*</span></label>
            <div class="col-sm-8">
                <input id="port" name="port" placeholder="" type="text" class="form-control"  value="{{.Port}}" >
            </div>
        </div>
        <div class="form-group">
            <label for="dbinst" class="col-sm-2 control-label">数据库实例<span class="red-fonts">*</span></label>
            <div class="col-sm-8">
                <input id="dbinst" name="dbinst" placeholder="" type="text" class="form-control"  value="{{.DBInst}}" >
            </div>
        </div>
        <div class="form-group">
            <label for="dbname" class="col-sm-2 control-label">数据库名<span class="red-fonts">*</span></label>
            <div class="col-sm-8">
                <input id="dbname" name="dbname" placeholder="" type="text" class="form-control"   value="{{.DBName}}">
            </div>
        </div>
        <div class="form-group">
            <label for="isswitch" class="col-sm-2 control-label">是否交接</label>
            <div class="col-sm-8">
                <select name="isswitch" class="form-control">
                    <option value="否" {{if eq .IsSwitch "否"}}selected{{end}}>否</option>
                    <option value="是" {{if eq .IsSwitch "是"}}selected{{end}}>是</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="attrteam" class="col-sm-2 control-label">归属团队<span class="red-fonts">*</span></label>
            <div class="col-sm-8">
                <input id="attrteam" name="attrteam" placeholder="" type="text" class="form-control"   value="{{.AttrTeam}}">
            </div>
        </div>
        {{end}}
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">业务组</label>
            <div class="col-sm-8">
                {{$DblistGroupName:= .DblistGroupName}}
                <select name="name" class="form-control">
                    <option value="" {{if eq .DblistGroupName ""}}selected{{end}}>请指定业务组</option>
                    {{range .Groups}}
                    <option value="{{.Name}}" {{if eq $DblistGroupName .Name}}selected{{end}}>{{.Name}}</option>
                    {{end}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-white" type="reset">重置</button>
                <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
            </div>
        </div>
    </form>
    {{else}}
    <div><span style="font-size:18px;color:red;">没有相关权限！</span></div>
    {{end}}
    <script>
        $('#userForm').validator({
            timely: 2,
            theme: "yellow_right_effect",
            rules: {
                check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
                check_port: [/^\d{1,5}$/, '端口号不正确'],
                type_m: function(element){
                    return  $("#M").is(":checked");
                }
            },
            fields: {
                "ip": {
                    rule: "check_ip",
                    tip: "输入IP",
                    ok: "",
                    msg: {required: "必须填写!"}
                },
                "port": {
                    rule: "check_port",
                    tip: "输入端口",
                    ok: "",
                    msg: {required: "必须填写!"}
                },
                "dbinst": {
                    rule: "required;length[1~100]",
                    tip: "输入数据库实例",
                    ok: "",
                    msg: {required: "必须填写!"}
                },
                "dbname": {
                    rule: "required;length[1~100]",
                    tip: "输入数据库名称",
                    ok: "",
                    msg: {required: "必须填写!"}
                },
                "attrteam": {
                    rule: "required;length[1~100]",
                    tip: "输入归属团队",
                    ok: "",
                    msg: {required: "必须填写!"}
                }
            },
            valid: function(form) {
                form.submit();
            }
        });
    </script>
    {{template "page_buttom" .}}


