{{template "page_top" .}}
{{template "nav_cat_bar" .}}
<br>
                    {{$Schemas := .Schemas}}
                    {{$Dev := .Dev}}
                    {{$Op := .Op}}
                    {{$DevReadonly := .DevReadonly}}
                    {{$OpReadonly := .OpReadonly}}
                    <div class="ibox-content">
                    {{with .Dbwo}}
                    {{$Schemaname := .Schemaname}}
                        <form method="post" id="userForm" class="form-horizontal" action="/workorder/dbRollback" enctype="multipart/form-data">
                            <input name="id" type="hidden" value="{{.Id}}"></input>
                            <div class="form-group">
                                <label for="schema" class="col-sm-2 control-label">Schem<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="schema" class="form-control" readonly>
                                        {{range $index,$Name := $Schemas}}
                                        <option value="{{.}}" {{if eq $Schemaname . }}selected{{end}}>{{.}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="upgradeobj" class="col-sm-2 control-label">升级对象<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="upgradeobj" class="form-control" readonly>
                                        <option value="记录" {{if eq .Upgradeobj "记录"}}selected{{end}}>记录</option>
                                        <option value="表" {{if eq .Upgradeobj "表"}}selected{{end}}>表</option>
                                        <option value="库" {{if eq .Upgradeobj "库"}}selected{{end}}>库</option>
                                        <option value="实例" {{if eq .Upgradeobj "实例"}}selected{{end}}>实例</option>
                                    </select>
                                </div>
                            </div>       
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="upgradetype" class="col-sm-2 control-label">升级类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select name="upgradetype" class="form-control" readonly>
                                        <option value="提取数据" {{if eq .Upgradetype "提取数据"}}selected{{end}}>提取数据</option>
                                        <option value="修改数据" {{if eq .Upgradetype "修改数据"}}selected{{end}}>修改数据</option>
                                        <option value="分拆扩容" {{if eq .Upgradetype "分拆扩容"}}selected{{end}}>分拆扩容</option>
                                        <option value="性能优化" {{if eq .Upgradetype "性能优化"}}selected{{end}}>性能优化</option>
                                        <option value="增加新表" {{if eq .Upgradetype "增加新表"}}selected{{end}}>增加新表</option>
                                        <option value="表结构变更" {{if eq .Upgradetype "表结构变更"}}selected{{end}}>表结构变更</option>
                                        <option value="存储过程变更" {{if eq .Upgradetype "存储过程变更"}}selected{{end}}>存储过程变更</option>
                                    </select>
                                </div>
                            </div>                              
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">操作备注<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="" type="text" class="form-control" value="{{.Comment}}" readonly>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="sqlfile" class="col-sm-2 control-label">上传附件</label>
                                <div class="col-sm-8">
                                    （<a target="_blank" href="/attachment/{{.Sqlfile}}">{{.Sqlfile}}</a>）
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="step" class="col-sm-2 control-label">操作步骤</label>
                                <div class="col-sm-8">
                                    <textarea name="step" class="form-control" placeholder="" rows="4" readonly>{{.Step}}</textarea>
                                </div>
                            </div>
                            {{if eq $Dev "true"}}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="devoutcome" class="col-sm-2 control-label">研发意见<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <textarea name="devoutcome" class="form-control" placeholder="" rows="2"{{if eq $DevReadonly "false"}}readonly{{end}}>{{.DevOutcome}}</textarea>
                                </div>
                            </div>
                            {{end}}
                            {{if eq $Op "true"}}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="opoutcome" class="col-sm-2 control-label">运维意见<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <textarea name="opoutcome" class="form-control" placeholder="" rows="2" {{if eq $OpReadonly "false"}}readonly{{end}}>{{.OpOutcome}}</textarea>
                                </div>
                            </div>
                            {{end}}
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="submit_button" class="btn btn-primary" type="submit">异常回滚</button>
                                </div>
                            </div>
                        </form>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "schema": {
            rule: "required;",
            tip: "请选择Schema",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "upgradeobj": {
            rule: "required;",
            tip: "请选择升级对象",
            ok: "",
            msg: {required: "必须填写!"}
        },    
        "upgradetype": {
            rule: "required;",
            tip: "请选择升级类型",
            ok: "",
            msg: {required: "必须填写!"}
        },                     
        "comment": {
            rule: "required;length[3~15]",
            tip: "输入备注",
            ok: "",
            msg: {required: "必须填写!"}
        },                       
        "opoutcome": {
            rule: "required;",
            tip: "输入运维意见",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});
</script>
{{template "page_buttom" .}}