{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{$Auth := .Auth}}
{{if eq .Auth 1}}
<br>
                    <div class="ibox-content">
                        {{with .Host}}
                        <form method="post" id="userForm" class="form-horizontal" action="/host/modify?id={{.Id}}">
                            <div class="form-group">
                                <label for="class" class="col-sm-2 control-label">类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="class" name="class" placeholder="" type="text" class="form-control" value="{{.Class}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="service_name" class="col-sm-2 control-label">系统服务名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="service_name" name="service_name" placeholder="" type="text" class="form-control" value="{{.Service_name}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">主机名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="" type="text" class="form-control" value="{{.Name}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="ip" class="col-sm-2 control-label">IP<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="ip" name="ip" placeholder="" type="text" class="form-control" value="{{.Ip}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="port" class="col-sm-2 control-label">Port<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="port" name="port" placeholder="" type="text" class="form-control" value="{{.Port}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="os_type" class="col-sm-2 control-label">OS<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="os_type" name="os_type" placeholder="" type="text" class="form-control" value="{{.Os_type}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">Owner<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="owner" name="owner" placeholder="" type="text" class="form-control" value="{{.Owner}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="root" class="col-sm-2 control-label">root用户名称<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="root" name="root" placeholder="" type="text" class="form-control" value="{{.Root}}">
                                </div>
                            </div>                            
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="rootpwd" class="col-sm-2 control-label">root用户口令<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="rootpwd" name="rootpwd" placeholder="" type="password" class="form-control" value="{{.Rootpwd}}">
                                </div>
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="read" class="col-sm-2 control-label">只读用户名称<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="read" name="read" placeholder="" type="text" class="form-control" value="{{.Read}}">
                                </div>
                            </div>                                                                                       
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="readpwd" class="col-sm-2 control-label">只读用户口令<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="readpwd" name="readpwd" placeholder="" type="password" class="form-control"  value="{{.Readpwd}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                            
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="" type="text" class="form-control" value="{{.Comment}}">
                                </div>
                            </div>                 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="cpu" class="col-sm-2 control-label">Cpu</label>
                                <div class="col-sm-8">
                                    <select name="cpu" class="form-control">
                                        <option value="1核" {{if eq .Cpu "1核"}}selected{{end}}>1核</option>
                                        <option value="2核" {{if eq .Cpu "2核"}}selected{{end}}>2核</option>
                                        <option value="4核" {{if eq .Cpu "4核"}}selected{{end}}>4核</option>
                                        <option value="8核" {{if eq .Cpu "8核"}}selected{{end}}>8核</option>
                                        <option value="12核" {{if eq .Cpu "12核"}}selected{{end}}>12核</option>
                                        <option value="16核" {{if eq .Cpu "16核"}}selected{{end}}>16核</option>
                                        <option value="32核" {{if eq .Cpu "32核"}}selected{{end}}>32核</option>
                                        <option value="64核" {{if eq .Cpu "64核"}}selected{{end}}>64核</option>
                                        <option value="128核" {{if eq .Cpu "128核"}}selected{{end}}>128核</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="mem" class="col-sm-2 control-label">Mem</label>
                                <div class="col-sm-8">
                                    <select name="mem" class="form-control">
                                        <option value="2GB" {{if eq .Mem "2GB"}}selected{{end}}>2GB</option>
                                        <option value="4GB" {{if eq .Mem "4GB"}}selected{{end}}>4GB</option>
                                        <option value="6GB" {{if eq .Mem "6GB"}}selected{{end}}>6GB</option>
                                        <option value="8GB" {{if eq .Mem "8GB"}}selected{{end}}>8GB</option>
                                        <option value="12GB" {{if eq .Mem "12GB"}}selected{{end}}>12GB</option>
                                        <option value="16GB" {{if eq .Mem "16GB"}}selected{{end}}>16GB</option>
                                        <option value="24GB" {{if eq .Mem "24GB"}}selected{{end}}>24GB</option>
                                        <option value="32GB" {{if eq .Mem "32GB"}}selected{{end}}>32GB</option>
                                        <option value="48GB" {{if eq .Mem "48GB"}}selected{{end}}>48GB</option>
                                        <option value="64GB" {{if eq .Mem "64GB"}}selected{{end}}>64GB</option>
                                        <option value="128GB" {{if eq .Mem "128GB"}}selected{{end}}>128GB</option>
                                        <option value="256GB" {{if eq .Mem "256GB"}}selected{{end}}>256GB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="disk" class="col-sm-2 control-label">Disk</label>
                                <div class="col-sm-8">
                                    <select name="disk" class="form-control">
                                        <option value="40GB" {{if eq .Disk "40GB"}}selected{{end}}>40GB</option>
                                        <option value="30GB" {{if eq .Disk "30GB"}}selected{{end}}>30GB</option>
                                        <option value="100GB" {{if eq .Disk "100GB"}}selected{{end}}>100GB</option>
                                        <option value="200GB" {{if eq .Disk "200GB"}}selected{{end}}>200GB</option>
                                        <option value="500GB" {{if eq .Disk "500GB"}}selected{{end}}>500GB</option>
                                        <option value="1TB" {{if eq .Disk "1TB"}}selected{{end}}>1TB</option>
                                        <option value="2TB" {{if eq .Disk "2TB"}}selected{{end}}>2TB</option>
                                        <option value="3TB" {{if eq .Disk "3TB"}}selected{{end}}>3TB</option>
                                        <option value="4TB" {{if eq .Disk "4TB"}}selected{{end}}>4TB</option>
                                    </select>
                                </div>
                            </div>
                            {{end}}                         
                            <div class="hr-line-dashed"></div>                               
                            <div class="form-group">                            
                                <label for="group" class="col-sm-2 control-label">业务组</label>
                                <div class="col-sm-8">
                                {{$HostGroupName:= .HostGroupName}}
                                    <select name="group" class="form-control">
                                        {{range .Groups}}
                                        <option value="{{.Name}}" {{if eq $HostGroupName .Name}}selected{{end}}>{{.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>                     
                            {{with .Host}}    
                            <div class="hr-line-dashed"></div>                               
                            <div class="form-group">                            
                                <label for="idc" class="col-sm-2 control-label">所属机房</label>
                                <div class="col-sm-8">
                                    <select name="idc" class="form-control">
                                        <option value="Ucloud" {{if eq .Idc "Ucloud"}}selected{{end}}>Ucloud</option>
                                        <option value="网宿机房" {{if eq .Idc "网宿机房"}}selected{{end}}>网宿机房</option>
                                        <option value="腾讯云" {{if eq .Idc "腾讯云"}}selected{{end}}>腾讯云</option>
                                        <option value="阿里云" {{if eq .Idc "阿里云"}}selected{{end}}>阿里云</option>
                                        <option value="青云" {{if eq .Idc "青云"}}selected{{end}}>青云</option>
                                        <option value="AWS" {{if eq .Idc "AWS"}}selected{{end}}>AWS</option>
                                        <option value="微软云" {{if eq .Idc "微软云"}}selected{{end}}>微软云</option>
                                        <option value="百度云" {{if eq .Idc "百度云"}}selected{{end}}>百度云</option>
                                        <option value="金山云" {{if eq .Idc "金山云"}}selected{{end}}>金山云</option>
                                        <option value="亚太" {{if eq .Idc "亚太"}}selected{{end}}>亚太</option>
                                        <option value="人民中" {{if eq .Idc "人民中"}}selected{{end}}>人民中</option>
                                        <option value="新滘西" {{if eq .Idc "新滘西"}}selected{{end}}>新滘西</option>
                                    </select>
                                </div>
                            </div>                                                     
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
<div><span style="font-size:18px;color:red;">没有相关权限！</span></div>
{{end}}
<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
        rules: {
            check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
            check_port: [/^\d{1,5}$/, '端口号不正确'],
         type_m: function(element){
                     return  $("#M").is(":checked");
             }
        },
    fields: {
       "class": {
            rule: "required;length[1~100]",
            tip: "输入类型名",
            ok: "",
            msg: {required: "必须填写!"}
        },
       "service_name": {
            rule: "required;length[1~100]",
            tip: "输入系统服务名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "name": {
            rule: "required;length[1~100]",
            tip: "输入主机名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "ip": {
            rule: "check_ip",
            tip: "输入IP",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "os_type": {
            rule: "required;length[6~30]",
            tip: "输入系统类型",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "owner": {
            rule: "required;length[2~20]",
            tip: "输入负责人",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "root": {
            rule: "required;length[1~20]",
            tip: "输入root用户名称",
            ok: "",
            msg: {required: "必须填写!"}
        },        
        "rootpwd": {
            rule: "required;length[6~50]",
            tip: "输入root用户密码",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "read": {
            rule: "required;length[1~10]",
            tip: "输入只读用户名称",
            ok: "",
            msg: {required: "必须填写!"}
        },           
        "readpwd": {
            rule: "required;length[6~50]",
            tip: "输入只读用户密码",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "comment": {
            rule: "required;length[1~50]",
            tip: "输入备注",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});
</script>
{{template "page_buttom" .}}