{{template "page_top" .}}
{{template "nav_cat_bar" .}}
                    {{with .Hosts}}
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal" action="" enctype="multipart/form-data"> 
                            <div class="form-group">
                                <label for="class" class="col-sm-2 control-label">类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="class" name="class" placeholder="" type="text" class="form-control" value="{{.Class}}" readonly>
                                </div>
                            </div>                            
                            <div class="form-group">
                                <label for="service_name" class="col-sm-2 control-label">系统服务名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="service_name" name="service_name" placeholder="" type="text" class="form-control" value="{{.Service_name}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">主机名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="" type="text" class="form-control" value="{{.Name}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">负责人<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                             <input id="owner" name="owner" placeholder="" type="text" class="form-control" value="{{.Owner}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ip" class="col-sm-2 control-label">内网IP<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                             <input id="ip" name="ip" placeholder="" type="text" class="form-control" value="{{.Ip}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pubip" class="col-sm-2 control-label">公网IP<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                 <input id="pubip" name="pubip" placeholder="" type="text" class="form-control" value="{{.Pubip}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="port" class="col-sm-2 control-label">Port<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                             <input id="port" name="port" placeholder="" type="text" class="form-control" value="{{.Port}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="os_type" class="col-sm-2 control-label">OS<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                             <input id="os_type" name="os_type" placeholder="" type="text" class="form-control" value="{{.Os_type}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">负责人<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                             <input id="owner" name="owner" placeholder="" type="text" class="form-control" value="{{.Owner}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="department" class="col-sm-2 control-label">申请部门<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="department" name="department" placeholder="" type="text" class="form-control" value="{{.Department}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="" type="text" class="form-control"  value="{{.Comment}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="submit_button" class="btn btn-primary"><a href="/host/list">返回列表</a></button>
                                </div>
                            </div>
                        </form>
                        {{end}}
                    </div>
{{template "page_buttom" .}}