{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{$Auth := .Auth}}
{{if eq .Auth 1}}
<br>
                    <div class="ibox-content">
	      <div class="alert alert-warning text-center" id="alert_msg" style="display:none;">{{.Message}}</div>
                        <form method="post" id="userForm" class="form-horizontal" action="/host/add">
                                <div class="form-group">
                                <label for="class" class="col-sm-2 control-label">类型<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="class" name="class" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                <label for="service_name" class="col-sm-2 control-label">系统服务名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="service_name" name="service_name" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">主机名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="ip" class="col-sm-2 control-label">内网IP<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="ip" name="ip" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="pubip" class="col-sm-2 control-label">公网IP<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="pubip" name="pubip" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="port" class="col-sm-2 control-label">Port<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="port" name="port" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="os_type" class="col-sm-2 control-label">OS<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="" name="os_type" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">Owner<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="owner" name="owner" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="root" class="col-sm-2 control-label">root用户名称<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="root" name="root" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="rootpwd" class="col-sm-2 control-label">root用户密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="rootpwd" name="rootpwd" placeholder="" type="password" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="read" class="col-sm-2 control-label">只读用户名称<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="read" name="read" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>                                                                                    
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="readpwd" class="col-sm-2 control-label">只读用户密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="readpwd" name="readpwd" placeholder="" type="password" class="form-control"  >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                            
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <textarea name="comment" class="form-control" rows="3" value="{{.Comment}}"></textarea>	
                                </div>
                            </div>                
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="cpu" class="col-sm-2 control-label">Cpu</label>
                                <div class="col-sm-8">
                                    <select name="cpu" class="form-control">
                                        <option value="1核">1核</option>
                                        <option value="2核" selected>2核</option>
                                        <option value="4核">4核</option>
                                        <option value="8核">8核</option>
                                        <option value="12核">12核</option>
                                        <option value="16核">16核</option>
                                        <option value="32核">32核</option>
                                        <option value="64核">64核</option>
                                        <option value="128核">128核</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="mem" class="col-sm-2 control-label">Mem</label>
                                <div class="col-sm-8">
                                    <select name="mem" class="form-control">
                                        <option value="2GB" >2GB</option>
                                        <option value="4GB" selected>4GB</option>
                                        <option value="6GB">6GB</option>
                                        <option value="8GB">8GB</option>
                                        <option value="12GB">12GB</option>
                                        <option value="16GB">16GB</option>
                                        <option value="24GB">24GB</option>
                                        <option value="32GB">32GB</option>
                                        <option value="48GB">48GB</option>
                                        <option value="64GB">64GB</option>
                                        <option value="128GB">128GB</option>
                                        <option value="256GB">256GB</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="disk" class="col-sm-2 control-label">Disk</label>
                                <div class="col-sm-8">
                                    <select name="disk" class="form-control">
                                        <option value="40GB" selected>40GB</option>
                                        <option value="30GB" >30GB</option>
                                        <option value="100GB">100GB</option>
                                        <option value="200GB">200GB</option>
                                        <option value="500GB">500GB</option>
                                        <option value="1TB">1TB</option>
                                        <option value="2TB">2TB</option>
                                        <option value="3TB">3TB</option>
                                        <option value="4TB">4TB</option>
                                    </select>
                                </div>
                            </div>                         
                            <div class="hr-line-dashed"></div>                               
                            <div class="form-group">                            
                                <label for="group" class="col-sm-2 control-label">业务组</label>
                                <div class="col-sm-8">
                                    <select name="group" class="form-control">
                                        <option value="1" selected>---请选择业务组---</option>
                                        {{range .Groups}}
                                        <option value="{{.Name}}">{{.Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>                         
                            <div class="hr-line-dashed"></div>                               
                            <div class="form-group">                            
                                <label for="idc" class="col-sm-2 control-label">所属机房</label>
                                <div class="col-sm-8">
                                    <select name="idc" class="form-control">
                                        <option value="1" selected>---请选择机房---</option>
                                        <option value="Ucloud">Ucloud</option>
                                        <option value="网宿机房">网宿机房</option>
                                        <option value="腾讯云">腾讯云</option>
                                        <option value="阿里云">阿里云</option>
                                        <option value="青云">青云</option>
                                        <option value="AWS">AWS</option>
                                        <option value="微软云">微软云</option>
                                        <option value="百度云">百度云</option>
                                        <option value="金山云">金山云</option>
                                        <option value="亚太">亚太</option>
                                        <option value="人民中">人民中</option>
                                        <option value="新滘西">新滘西</option>
                                    </select>
                                </div>
                            </div>                                                     
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
<div><span style="font-size:18px;color:red;">没有相关权限！</span></div>
{{end}}
<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
        rules: {
            check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
            check_port: [/^\d{1,5}$/, '端口号不正确'],
         type_m: function(element){
                     return  $("#M").is(":checked");
             }
        },
    fields: {
        "class": {
            rule: "required;length[1~100]",
            tip: "输入类型名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "service_name": {
            rule: "required;length[1~100]",
            tip: "输入系统服务名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "name": {
            rule: "required;length[1~100]",
            tip: "输入主机名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "ip": {
            rule: "check_ip",
            tip: "输入IP",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "os_type": {
            rule: "required;length[7~50]",
            tip: "输入OS",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "owner": {
            rule: "required;length[2~15]",
            tip: "输入Owner",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "comment": {
            rule: "required;length[1~50]",
            tip: "输入备注",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});
</script>
{{template "page_buttom" .}}


