{{template "page_top" .}}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Users</span>
                                <h5>用户总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><a href="/user/list">{{.UserNums}}</a></h1>
                                <small>All users</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">Hosts</span>
                                <h5>主机总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><a href="/host/list">{{.HostNums}}</a></h1>
                                <small>All hosts</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">MySQL</span>
                                <h5>DB总数</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><a href="/db/list"> <span id="online_users">{{.DbNums}}</span></a></h1>
                                <small>MySQL Nums</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">Size</span>
                                <h5>数据总量</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><a href="#"> <span id="online_users">{{.NowSize}}</span></a></h1>
                                <div class="stat-percent font-bold text-navy">TB<i class="fa fa-level-up"></i></div>
                                <small>Total Size</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">Iteration</span>
                                <h5>应用本月变更次数</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><a href="/workorder/my/list">{{.AppRecordNums}}</a></h1>
                                <small>All Apps</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-default pull-right">Upgrade</span>
                                <h5>DB本月变更次数</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins"><a href="/workorder/mydb/list">{{.DBRecordNums}}</a></h1>
                                <small>All DBs</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">Faults</span>
                                <h5>本月故障总数</h5>
                            </div>
                            <div class="ibox-content">
                                    <h1 class="no-margins"><a href="/record/fault/list"><span id="aa">{{.FaultRecordNums}}</span></a></h1>
                                <small>All Faults</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label label-danger pull-right">Questions</span>
                                    <h5>All Questions</h5>
                                </div>
                                <div class="ibox-content">
                                        <h1 class="no-margins"><a href="/record/quest/list"><span id="aa">{{.QuestionRecordNums}}</span></a></h1>
                                    <small>Connected host</small>
                                </div>
                        </div>
                    </div>
                </div>                                              
                <div class="row">
                    <div class="col-sm-2 border-bottom white-bg dashboard-header" style="margin-left:15px;height: 346px">
                        <h3>慢查询总数TOP12实例</h3>
                        <ul class="list-group clear-list m-t">
                                {{range .Slows}}
                                <li class="list-group-item fist-item">
                                    <a href="/db/slowlog?name={{.Name}}"><span class="label label-success pull-right">{{.Count}}</span></a>
                                    <span class="pull-left">
                                        {{.Name}}
                                    </span>
                                </li>
                                {{end}}
                        </ul>
                    </div>
                    <div class="col-sm-7 white-bg" id="top10" style="margin-left: -10px;height: 346px;padding: 0px 0px 10px 0px;"></div>
                    <div class="col-sm-3 white-bg" id="top1" style="margin-left: -15px;height: 346px;padding: 20px 15px 15px 45px;">
                         <h3>本月数据增量详情</h3>
                         <ul class="list-group clear-list m-t">
                                {{range .SizeChange}}
                                 <li class="list-group-item fist-item">
                                     <span class="label label-info pull-right">{{.Size}}GB</span>
                                     <span class="pull-left">
                                         {{.Name}}
                                     </span>                                     
                                 </li>
                                {{end}}
                         </ul>
                    </div>
                </div>
            </div>

            <script src="/static/js/echarts/echarts.js"></script>
            <script>

            require.config({
                paths: {
                    'echarts': '/static/js/echarts/chart',
                    'echarts/chart/line': '/static/js/echarts/chart/line',
                    //'echarts/chart/pie': '/static/js/echarts/chart/pie'
                }
            });
            require(
                [
                    'echarts',
                    'echarts/chart/line'
                ],
                function (ec) {
                    var top10Chart = ec.init(document.getElementById('top10'));
                    var option = {
                        title : {
                            text: '本月听云数据总量变化趋势/TB',
                            x: 'center'
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        dataZoom : {
                            show : true,
                            start : 50
                        },
                        backgroundColor: '#fff',
                        calculable : true,
                        xAxis : [
                            {
                            type : 'category',
                            boundaryGap : false,
                            data : {{.TotalTimes}}
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'数据量',
                            type:'line',
                            smooth:true,
                            itemStyle: {normal: {areaStyle: {type: 'default'}}},
                            data: {{.TotalSizes}}
                        }

                    ]
                };

                top10Chart.setOption(option);
            }
        );
        </script>
{{template "page_buttom"}}


