{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{if eq .Auth 2}}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    {{if eq .Error 1}} 
                        <div class="alert alert-warning text-center">{{.Msg}}</div>
                    {{end}}
                    {{if .IsAffected}} 
                        <div class="alert alert-success text-center">{{.AffectRows}} rows affected.</div>
                    {{end}}
                    <div>
                        {{$schema := .Schema}}           
                        <form id="search_form" method="get" target="_parent" action="/db/query">
                        <input type="hidden" name="role" value="{{.Role}}"></input>
                            <div class="input-group pull-left" >
                                <div class="form-group">                            
                                    
                                    <select name="schema" class="form-control">
                                        {{range .Schemas}}
                                        <option value="{{.Name}}"{{if eq $schema .Name}}selected{{end}}>{{.Name}}</option>
                                        {{end}}
                                    </select>                                                                                    
                                </div>            
                                <div class="input-group-btn">
                                    <button id='search_btn' type="submit" class="btn btn-success">
                                        -执行-
                                    </button>
                                </div>
                            </div>                 
                            <div>
                                <input type="hidden" name="flag" value="result"></input>
                                <textarea name="sql" class="form-control" rows="15">{{.Sqltext}}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div><span style="font-size:18px;color:red;">没有相关权限！</span></div>
{{end}}
{{template "page_buttom"}}