{{template "page_top" .}}
{{template "nav_cat_bar" .}}
<br>    
    <div class="col-sm-7 white-bg" id="top10" style="width: 100%; height: 320px;padding: 15px 0px 15px 0px;"></div>
    <div>-</div>
    <div class="col-sm-7 white-bg" id="top11" style="width: 100%;height: 320px;padding: 15px 0px 15px 0px;"></div>
    <div>-</div>
    <div class="col-sm-7 white-bg" id="top12" style="width: 100%;height: 320px;padding: 15px 0px 15px 0px;"></div>
    <script src="/static/js/echarts/echarts.js"></script>
    <script>
        require.config({
            paths: {
                'echarts': '/static/js/echarts/chart',
                'echarts/chart/line': '/static/js/echarts/chart/line'
                //'echarts/chart/pie': '/static/js/echarts/chart/pie'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line'
            ],
            function (ec) {
                var top10Chart = ec.init(document.getElementById('top10'));
                var option = {
                    title : {
                        text: '数据量/GB',
                        x: 'center'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    dataZoom : {
                        show : true,
                        start : 20
                    },
                    backgroundColor: '#fff',
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : {{.SizeTimes}}
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'当前数据量',
                            type:'line',
                            smooth:true,
                            data: {{.CurrSizes}}
                        },
                        {
                            name:'存储总容量',
                            type:'line',
                            smooth:true,
                            data: {{.TotalSizes}}
                        }    
                    ]
                };
                top10Chart.setOption(option);
            }
        );
        require.config({
            paths: {
                'echarts': '/static/js/echarts/chart',
                'echarts/chart/line': '/static/js/echarts/chart/line'
                //'echarts/chart/pie': '/static/js/echarts/chart/pie'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line'
            ],
            function (ec) {
                var top10Chart = ec.init(document.getElementById('top11'));
                var option = {
                    title : {
                        text: 'QPS/TPS',
                        x: 'center'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    dataZoom : {
                        show : true,
                        start : 20
                    },
                    backgroundColor: '#fff',
                    calculable : true,
                    xAxis : [
                        {
                        type : 'category',
                        boundaryGap : false,
                        data : {{.QpsTimes}}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'Qps',
                        type:'line',
                        smooth:true,
                        data: {{.Qps}}
                    },
                    {
                        name:'Tps',
                        type:'line',
                        smooth:true,
                        data: {{.Tps}}
                    }
                ]
            };
            top10Chart.setOption(option);
        }
        );
        require.config({
            paths: {
                'echarts': '/static/js/echarts/chart',
                'echarts/chart/line': '/static/js/echarts/chart/line'
                //'echarts/chart/pie': '/static/js/echarts/chart/pie'
            }
        });
        require(
            [
                'echarts',
                'echarts/chart/line'
            ],
            function (ec) {
                var top10Chart = ec.init(document.getElementById('top12'));
                var option = {
                    title : {
                        text: 'Slow Query',
                        x: 'center'
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    dataZoom : {
                        show : true,
                        start : 20
                    },
                    backgroundColor: '#fff',
                    calculable : true,
                    xAxis : [
                        {
                        type : 'category',
                        boundaryGap : false,
                        data : {{.SlowTimes}}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'慢查询数量',
                        type:'line',
                        smooth:true,
                        data: {{.SlowCounts}}
                    }
                ]
            };
            top10Chart.setOption(option);
        }
        );
    </script>
{{template "page_buttom"}}