{{template "page_top" .}}
{{template "nav_cat_bar" .}}
<br>
                    <div class="ibox-content">
                        {{with .Schema}}
                        <form method="post" id="userForm" class="form-horizontal" action="/schema/modify?id={{.Id}}">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Schema<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="name" type="text" class="form-control" value="{{.Name}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="dbname" class="col-sm-2 control-label">DBName<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="dbname" name="dbname" placeholder="" type="text" class="form-control" value="{{.DBName}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="partition" class="col-sm-2 control-label">分区数<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="partition" name="partition" placeholder="" type="text" class="form-control" value="{{.Partition}}">
                                </div>
                            </div>                    
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="addr" class="col-sm-2 control-label">Addr<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="addr" name="addr" placeholder="" type="text" class="form-control" value="{{.Addr}}">
                                </div>
                            </div>          
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="port" class="col-sm-2 control-label">Port<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="port" name="port" placeholder="" type="text" class="form-control" value="{{.Port}}">
                                </div>
                            </div>                                                   
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="user" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="user" name="user" placeholder="" type="text" class="form-control" value="{{.User}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="passwd" class="col-sm-2 control-label">密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="passwd" name="passwd" placeholder="" type="password" class="form-control" value="{{.Passwd}}">
                                </div>
                            </div>                  
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">访问方式</label>
                                <div class="col-sm-8">
                                    <select name="status" class="form-control">
                                        <option value="1"{{if eq .Status 1}}selected{{end}}>直连</option>
                                        <option value="2"{{if eq .Status 2}}selected{{end}}>代理</option>
                                    </select>
                                </div>
                            </div>        
                            <div class="hr-line-dashed"></div>                                           
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="" type="text" class="form-control" value="{{.Comment}}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                               
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_username: [/^[\w.]{3,20}$/, '至少3位大小写字母数字和下划线小数点'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "name": {
            rule: "required;check_username",
            tip: "输入主机名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "dbname": {
            rule: "required;check_username",
            tip: "输入DBName",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "addr": {
            rule: "required;check_username",
            tip: "输入addr",
            ok: "",
            msg: {required: "必须填写!"}
        },    
        "port": {
            rule: "required;check_username",
            tip: "输入Port",
            ok: "",
            msg: {required: "必须填写!"}
        },         
        "user": {
            rule: "required;check_username",
            tip: "输入用户名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "passwd": {
            rule: "required;check_username",
            tip: "输入密码",
            ok: "",
            msg: {required: "必须填写!"}
        },                                
        "comment": {
            rule: "required;length[7~15]",
            tip: "输入备注",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});
</script>
{{template "page_buttom" .}}


