{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{$Auth := .Auth}}
{{$Uname := .Uname}}
{{if and (eq .Auth 1) (eq .Uname "netop")}}
<br>
                    <div class="ibox-content">
	      <div class="alert alert-warning text-center" id="alert_msg" style="display:none;">{{.Message}}</div>
                        <form method="post" id="userForm" class="form-horizontal" action="/asset/system/add">
                            <div class="form-group">
                                <label for="class" class="col-sm-2 control-label">系统分类</label>
                                <div class="col-sm-8">
                                    <select name="class" class="form-control">
                                        <option value="内部系统">内部系统</option>
                                        <option value="运营相关">运营相关</option>
                                        <option value="网站预定">网站预定</option>
                                        <option value="销售相关">销售相关</option>
                                        <option value="数据相关">数据相关</option>
                                        <option value="财务相关">财务相关</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">系统状态<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="status" name="status" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">系统名称<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                <label for="buss_owner" class="col-sm-2 control-label">业务owner<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="buss_owner" name="buss_owner" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="buss_attr" class="col-sm-2 control-label">业务归属<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="buss_attr" name="buss_attr" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="domain_name" class="col-sm-2 control-label">域名<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="domain_name" name="domain_name" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="risk_category" class="col-sm-2 control-label">风险类别<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="risk_category" name="risk_category" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="attr_dev" class="col-sm-2 control-label">开发归属</label>
                                <div class="col-sm-8">
                                    <select name="attr_dev" class="form-control">
                                        <option value="" selected>---请选择归属---</option>
                                        <option value="归属集团">归属集团</option>
                                        <option value="归属第三方">归属第三方</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="attr_test" class="col-sm-2 control-label">测试归属</label>
                                <div class="col-sm-8">
                                    <select name="attr_test" class="form-control">
                                        <option value="" selected>---请选择归属---</option>
                                        <option value="归属集团">归属集团</option>
                                        <option value="归属第三方">归属第三方</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="attr_arch" class="col-sm-2 control-label">基础架构归属</label>
                                <div class="col-sm-8">
                                    <select name="attr_arch" class="form-control">
                                        <option value="" selected>---请选择归属---</option>
                                        <option value="归属集团">归属集团</option>
                                        <option value="归属第三方">归属第三方</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="attr_ops" class="col-sm-2 control-label">应用运维归属</label>
                                <div class="col-sm-8">
                                    <select name="attr_ops" class="form-control">
                                        <option value="" selected>---请选择归属---</option>
                                        <option value="归属集团">归属集团</option>
                                        <option value="归属第三方">归属第三方</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="controller" class="col-sm-2 control-label">代码归属</label>
                                <div class="col-sm-8">
                                    <select name="controller" class="form-control">
                                        <option value="" selected>---请选择归属---</option>
                                        <option value="归属集团">归属集团</option>
                                        <option value="归属第三方">归属第三方</option>
                                     </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="responsible" class="col-sm-2 control-label">负责人<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="responsible" name="responsible" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="team" class="col-sm-2 control-label">所属团队<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="team" name="team" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="company" class="col-sm-2 control-label">所属公司<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="company" name="company" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="support_level" class="col-sm-2 control-label">支持级别</label>
                                <div class="col-sm-8">
                                    <select name="support_level" class="form-control">
                                        <option value="L1">L1</option>
                                        <option value="L2">L2</option>
                                        <option value="L3">L3</option>
                                     </select>
                                </div>
                            </div>							
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">用途/备注<span class="black-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment" placeholder="" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div> 
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">重置</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                </div>
{{else}}
<div><span style="font-size:18px;color:red;">没有相关权限！</span></div>
{{end}}
<script>
$('#userForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    rules: {
        check_username: [/^[\w.]{1,20}$/, '至少1位大小写字母数字和下划线小数点'],
        type_m: function(element){
                    return  $("#M").is(":checked");
            }
    },
    fields: {
        "name": {
            rule: "required;length[2~50]",
            tip: "输入系统名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "owner1": {
            rule: "required;length[2~10]",
            tip: "输入系统负责人",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});
</script>
{{template "page_buttom" .}}
