{{template "page_top" .}}
{{template "nav_cat_bar" .}}
{{$Uname := .Uname}}
{{$Auth := .Auth}}
{{if eq .Auth 1}}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="">
					{{if and (eq .Auth 1) (eq .Uname "netop")}}						
                        <a href="/asset/system/add" class="btn btn-sm btn-primary " {{if ne $Uname "netop"}}disabled="disabled"{{end}}> 添加系统 </a>
                        <a id="del_btn" class="btn btn-sm btn-danger" {{if ne $Uname "netop"}}disabled="disabled"{{end}}> 删除所选 </a>
	                    <a href="/asset/system/export" class="btn btn-sm btn-success " {{if ne $Uname "netop"}}disabled="disabled"{{end}}> 导出列表 </a>
						{{end}}
                        {{if .IsSearch}}
                        <a href="/asset/system/list" class="btn btn-white pull-right"> 返回列表 </a>
                        {{else}}
                        <form id="search_form" method="get" action="/asset/system/search" class="form-inline pull-right">
                            <div class="input-group">
                                <select name="class" class="form-control">
                                    <option value="1" selected>---请选择分类---</option>
                                    <option value="内部系统">内部系统</option>
                                    <option value="运营相关">运营相关</option>
                                    <option value="网站预定">网站预定</option>
                                    <option value="销售相关">销售相关</option>
                                    <option value="数据相关">数据相关</option>
                                    <option value="财务相关">财务相关</option>
                                </select> 
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="search_input" name="keyword" placeholder="按系统名称搜索...">
                                <div class="input-group-btn">
                                    <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                        -搜索-
                                    </button>
                                </div>
                            </div>
                        </form>
                        {{end}}
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
                                </th>
                                <th class="text-center">系统分类</th>
                                <th class="text-center">系统名称</th>
                                <th class="text-center">支持级别</th>
                                <th class="text-center">域名</th>
		 						<th class="text-center">维护性质</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .Systemlists}}
                            <tr class="gradeX">
                                <td class="text-center">
                                    <input type="checkbox" name="checked" value="{{.Id}}">
                                </td>
                                <td class="text-center">{{.Class}}</td>
                                <td class="text-center"><a href="#">{{.Name}}</a></td>
                                <td class="text-center">{{.Support_level}}</td>
                                <td class="text-center">{{.Domain_name}}</td>
		 						<td class="text-center">{{.Controller}}</trd>													
                                <td class="text-center">
                                     <a href="/asset/system/detail?id={{.Id}}" class="btn btn-xs btn-success" >详情</a>
                                    <a href="/asset/system/add?id={{.Id}}" class="btn btn-xs btn-info" {{if ne $Uname "netop"}}disabled="disabled"{{end}}>编辑</a>
                                    <a href="/asset/system/del?id={{.Id}}" class="btn btn-xs btn-danger" {{if ne $Uname "netop"}}disabled="disabled"{{end}} onclick="if(confirm('确定删除?')==false)return false;">删除</a>
                                </td>

                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Total {{.totals}} entries
                            </div>
                        </div>
                        {{template "paginator" .}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div><span style="font-size:18px;color:red;">没有相关权限！</span></div>
{{end}}
<script src="/static/js/jquery.shiftcheckbox.js"></script>
<script>
    $(document).ready(function(){

        $('#del_btn').click(function(){
            var check_array = [];
            if (confirm("确定删除")) {
                $(".gradeX input:checked").each(function() {
                    check_array.push($(this).attr("value"))
                });
                console.log(check_array.join(","));
                $.post("/asset/system/bitchDel",
                        {ids: check_array.join(",")},
                        function(data){
                            //console.log(data);
                            //$(".gradeX input:checked").closest("tr").remove();                            
                            window.location.href="/asset/system/list"                            
                            //alert(data);
                        }
                )
            }

        });

    });

</script>
{{template "page_buttom"}}